<!DOCTYPE html>
<html lang="en" ng-app="gitViewer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/css/style.css">
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
    <title>Document</title>
</head>
<body ng-init="bb=['Kai', 'Tyson', 'Ray', 'Max']">
    <h1>Hello AngularJS</h1>
    <input type="text" ng-model="name" placeholder="enter your name mister">
    <p>{{name}}</p>

    <ul>
        <li ng-repeat="b in bb">{{b}}</li>
    </ul>

    <div ng-controller="MainController">
        {{message}}

        <div>
            {{error}}
        </div>
        <div>
            Name: {{user.name}}
        </div>
        <div>
            Location: {{user.location}}
        </div>
        <div>
            <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
        </div>
    </div>

    <div ng-app="myNinjaApp">
        <div ng-controller="NinjaController">
            <ul>
                <li ng-repeat="ninja in ninjas">{{ninja}}</li>
            </ul>
        </div>
    </div>

    
</body>
</html>